@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control {
    @apply transition-all duration-300 ease-in-out transform;
    width: 150px;
  }
  
  .form-control:hover {
    width: 300px;
  }
  